body {
    margin: 0px;
    font-family: 'Helvetica now', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white
}

.headerlogo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 50px 100px;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 500px;
    gap: 12px;
}

.imageplaceholder {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    color: black;
}

.heroheader {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 100px;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.infocontent {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.infocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    gap: 5px;
}

.imagecard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: solid #3882F6 3px;
}

.infocardtext {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}